.main-section {
  height: 90vh;
  background: #f7f5f9;
}

.hero-container {
  width: 90%;
  margin: 0 auto;
}

.header-container {
  width: 90%;
  /* box-shadow: ; */
}

.objects {
  position: relative;
  top: 50px;
}
