.main-section {
  /* height: 90vh; */
  background: #f7f5f9;
}

.hero-container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.header-container {
  width: 90%;
  /* box-shadow: ; */
}

.objects {
  position: relative;
  top: 50px;
}

@media (min-width: 600px) and (max-width: 1350px) {
  .objects {
    width: 80%;
  }

  .objects img {
    width: 60%;
  }
}

@media screen and (max-width: 990px) {
  .hero-container {
    padding: 3rem 0;
    flex-direction: column;
    gap: 1rem;
  }

  .text-section {
    width: 100%;
  }

  .objects {
    top: 0;
    width: 100%;
    /* display: none !important; */
  }

  .objects img {
    width: 50%;
  }

  .form-container {
    width: 100% !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .texts h2 {
    font-size: 1.2rem;
  }
}
