.card-section {
  /* height: 60vh; */
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.grid-container {
  grid-template-columns: repeat(2, 2fr);
  gap: 2rem;
  height: 100%;
}

.card {
  height: 100%;
}

.add-you-own-card-section {
  background: #f7f5f9;
  padding: 4rem 0;
}

.add-your-own-card-container {
  width: 90%;
  margin: 0 auto;
}

.testimonial-section {
  width: 90%;
  margin: 5rem auto;
}

.testimonial-section .card {
  border: none;
  border-radius: 5px;
  padding: 2rem;
}

.testimonial-card {
  background: rgba(128, 128, 128, 0.158);
}

.testimonial-card .card-body {
  gap: 1.1rem !important;
}

.testimonial-card .card-body .card-text {
  line-height: 1.5rem;
  word-spacing: 5px;
}

@media screen and (max-width: 1100px) {
  .testimonial-content-img {
    flex-direction: column-reverse;
    gap: 1rem;
    width: 100%;
  }

  .testimonial-content-img img {
    width: 100% !important;
  }

  .testimonial-user img {
    width: 30% !important;
  }

  .testimonial-user .name-or-type {
    text-align: start;
  }
  /* .testimonial-user {
    width: 100%;
  } */
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-body {
    padding: 1.5rem !important;
    text-align: center;
    justify-content: center !important;
    align-items: center;
  }

  .testimonial-section .card {
    padding: 0;
  }

  .testimonial-card .card-text {
    font-size: 0.9rem;
  }
}
