.sub-footer-section {
  background: #f7f5f9;
  /* height: 60vh; */
  padding: 3rem 0;
}

.subfooter-container {
  width: 90%;
  margin: 0 auto;
}

.subfooter-content-lower img {
  width: 100%;
}
