@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95% !important;
}

.text-secondary {
  color: #8064a2 !important;
  color: rgba(86, 192, 218, 0.84);
}

.btn-primary {
  background: #fff;
  border: 1px solid #8064a2;
  color: #8064a2;
  padding: 6px 25px;
}

.btn-primary:hover {
  background: #8064a2;
  color: #fff;
}

.nav-icons i {
  color: #8064a2;
  font-size: 1.2rem;
}

.nav-icons i:hover {
  color: #8064a29e;
}

.btn-secondary {
  border: none;
  background: #8064a2;
  color: #fff;
  /* font-size: 1.1rem; */
}

.btn-secondary:hover {
  background: #fff;
  color: #8064a2;
  border: 1px solid #8064a2;
}

.input-bar {
  padding: 6px 10px;
  border: 1px solid rgba(128, 128, 128, 0.148);
  width: 100%;
  outline: none;
}

.search-bar i {
  background: #8064a2;
  padding: 10px;
  color: #fff;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.btn hr {
  margin: 0.3rem 0 0 0;
  border: none;
  border-radius: 3px;
  height: 4px;
  color: #8064a2;
  background-color: #8064a2;
  opacity: 0.75;
}

.play-music-container {
  padding: 0.8rem;
  background: #8064a285;
  border-radius: 5px;
}

.backToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .btn-secondary {
    width: 130px !important;
  }

  .play-music-container {
    gap: 0.5rem !important;
  }
}
